<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<p><%= link_to "Edit this task", edit_task_path, class: 'text-decoration-none text-danger'%></p>

<p><%= link_to "Back to list", tasks_path, class: 'text-decoration-none text-danger'%></p>
